<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$result.config.title}</title>
    <meta name="keywords" content="{$result['config']['keywords']}"/>
    <meta name="description" content="{$result.config.description}"/>
    <link rel="stylesheet" href="__ROOT__/Public/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="__ROOT__/Public/css/home/main.css" type="text/css"/>
</head>
<body>
<header id="header">
    <div class="navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a href=".">
                    <img src="__ROOT__/Public/images/logo.png" alt="">
                </a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="."
                    <if condition="$result['catId'] eq 0">class="curr"</if>
                    >首页</a></li>
                <foreach name="result['navs']" item="nav">
                    <li><a href="./index.php?c=cat&a=index&id={$nav.menu_id}" <if condition="$nav['menu_id'] eq $result['catId']">class='curr'</if>>{$nav.name}</a></li>

                </foreach>
            </ul>
        </div>
    </div>
</header>